.card {
    width: 258px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background: #ffff;
    transition: all .5s;
    border-radius: 2px;
}

.card img {
    width: 250px;;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    font-size: 11pt;
    font-weight: normal;
}

.card:hover {
    transform: scale(1.1);
}
